<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #wordForm="ngForm">

      <div class="form-group">
        <label for="name">Name</label>
        <input #name="ngModel" [(ngModel)]="word.name" required
               type="text" class="form-control" id="name" name="name" placeholder="Enter the word">
      </div>
      <div *ngIf="name.invalid&&name.dirty" class="alert alert-danger">Word is required!</div>

      <div class="form-group">
        <label for="description">Description</label>
        <input #description="ngModel" [(ngModel)]="word.description" required
               type="text" class="form-control" id="description" name="description"
               placeholder="Please enter a description.">
        <div *ngIf="description.invalid&&description.dirty" class="alert alert-danger">Description is required!</div>
      </div>

      <div class="form-group">
        <select #languageId="ngModel" [(ngModel)]="word.language" required
                class="form-control" id="languageId" name="languageId">
          <option value="English" selected>English</option>
          <option value="German">German</option>
          <option value="Turkish">Turkish</option>
        </select>
      </div>

      <button type="submit" [disabled]="!wordForm.form.valid" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
